.chrome-profile*/
.edge-profile/

app-screenshot*.png
template_contact_sheet.jpg
template_slot_detection*.jpg
标准标签.png
标签定位图.png

拍摄原图/
裁剪后的图/

*.xlsx
*.xls
*.docx

.DS_Store
Thumbs.db

# wrangler files
.wrangler
.dev.vars*
!.dev.vars.example
.env*
!.env.example
